# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
hero-polls/dist
hero-polls/tmp
hero-polls/out-tsc
# Only exists if Bazel was run
hero-polls/bazel-out

# dependencies
hero-polls/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
hero-polls/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
hero-polls/.sass-cache
hero-polls/connect.lock
hero-polls/coverage
hero-polls/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
hero-polls/typings

# System Files
.DS_Store
Thumbs.db
